package-lock.json
node_modules
area_front/android/.gitignore
area_front/android/build.gradle
area_front/android/gradle.properties
area_front/android/settings.gradle
area_front/android/app/build.gradle
area_front/android/app/src/debug/AndroidManifest.xml
area_front/android/app/src/main/AndroidManifest.xml
area_front/android/app/src/main/kotlin/com/example/area_front/MainActivity.kt
area_front/android/app/src/main/res/drawable/launch_background.xml
area_front/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
area_front/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
area_front/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
area_front/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
area_front/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
area_front/android/app/src/main/res/values/styles.xml
area_front/android/app/src/profile/AndroidManifest.xml
area_front/android/gradle/wrapper/gradle-wrapper.properties
area_front/ios/.gitignore
area_front/ios/Flutter/AppFrameworkInfo.plist
area_front/ios/Flutter/Debug.xcconfig
area_front/ios/Flutter/Release.xcconfig
area_front/ios/Runner/AppDelegate.swift
area_front/ios/Runner/Info.plist
area_front/ios/Runner/Runner-Bridging-Header.h
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
area_front/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
area_front/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
area_front/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
area_front/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
area_front/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
area_front/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
area_front/ios/Runner/Base.lproj/LaunchScreen.storyboard
area_front/ios/Runner/Base.lproj/Main.storyboard
area_front/ios/Runner.xcodeproj/project.pbxproj
area_front/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
area_front/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
area_front/ios/Runner.xcworkspace/contents.xcworkspacedata

db-data